body {
    background: #1D1F21;
    color: #C5C8C6;
    font-family: monospace;
}

#main-column {
    height: auto;
    min-width: 45em;
    max-width: 67.5em;
    margin: 0 auto;
}

#chat-container {
    white-space: pre-wrap;
}

#command-window {
    margin-top: 3em;
}

#input-box {
    position: fixed;
    bottom: 0px;
    width: calc(100% - 10px);
}

.error-box {
    color: #CC6666;
    font-size: 1.2em;
}

.error-box a {
    color: #CC6666;
}

#impressum,
#impressum > a:link,
#impressum > a:visited
{
    color: #969896;
    margin-bottom: 15px;
}

@media (min-width: 67.5em) {
    #main-column {
	margin: 0 auto;
	font-size: 1.3em;
	max-width: 90em;
    }
}
